@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Tilt Warp', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
